@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 폰트 렌더링 최적화 */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fall {
  0% {
    top: -50px;
  }
  100% {
    top: 85vh; /* 화면 하단 근처에서 멈춤 */
  }
}

.animate-fall {
  animation: fall 3s linear forwards; /* 더 느리게 떨어지도록 조정 */
}