/* 폰트 정의 */
@font-face {
  font-family: 'Pretendard';
  src: url('/font/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'lazybones';
  src: url('/font/LazybonesD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Trattatello';
  src: url('/font/Trattatello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family:'Trattatello', 'lazybones', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}


/* 한국어 텍스트 - Pretendard 적용 */
span.ml-ko {
  font-size: 12px;
  font-family: 'Pretendard', 'Arial', sans-serif;
  font-weight: 600;
  /* baseline shift */
  position: relative;
  top: 0;
}